html, body {
	font-family: 'Courier New', 'Lucida Console';
	background-color: #222;
	color: #222;
	overflow: hidden;
}

#loading {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #DDD;
}